<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- For Android 13+ media-specific access -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Notifications for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/whats"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/whats"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaverApplication"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">
        <activity
            android:name=".ui.downloads.SavedVideoViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.downloads.SavedImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.whatsapp.VideoViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adapters.FullscreenVideoAdapter"
            android:exported="false" /> <!-- AdMob Test App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <activity
            android:name=".ui.notis.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notis.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity android:name=".ui.whatsapp.ImageViewerActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SaverApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- Preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".ui.settings.StatusMonitorService"
            android:enabled="true"
            android:exported="false"
            android:permission="dataSync" />

    </application>

</manifest>